.header {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header .background {
  inset: 0;
  position: absolute;
}

.header .background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header .background .filter {
  position: absolute;
  inset: 0;
  background: rgba(2, 2, 2, 0.67);
  mix-blend-mode: multiply;
}

.header .container {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 640px;
  padding: 0 87px;
}

.header .container .arrow {
  cursor: pointer;
}

.header .container .welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: text;
}

.header .container .welcome h1 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 47.48px;

  color: var(--text-white);
}

.header .container .welcome span {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 26.38px;

  color: var(--text-white);
}
